<div th:fragment="create_div">
    <form action="#" method="post">
        <h5 class="pb-2 border-bottom">Subject</h5>
        <div class="row mb-3 mt-3">
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" name="*{firswertname}" id="firstname" placeholder="Your first name" required/>
                    <label class="form-label small" for="firstname">First Name</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" name="*{lasterfname}" id="lastname" placeholder="Your last name" required/>
                    <label class="form-label small" for="lastname">Last Name</label>
                </div>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-4">
                <div class="form-floating">
                    <input type="tel" class="form-control" name="*{firsfwgtname}" id="subject-mobile" placeholder="Subject Mobile" required/>
                    <label class="form-label small" for="subject-mobile">Mobile</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating">
                    <input type="email" class="form-control" name="*{lasseetname}" id="subject-email" placeholder="Subject Email" required/>
                    <label class="form-label small" for="subject-email">Email</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating">
                    <input type="text" class="form-control" name="*{lasteeefname}" id="subject-address" placeholder="Subject Address" required/>
                    <label class="form-label small" for="subject-address">Address</label>
                </div>
            </div>
        </div>
        <h5 class="pb-2 border-bottom">Main</h5>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" name="*{compabbnyName}" id="title" placeholder="Main title" required/>
            <label class="form-label small" for="title">Title</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <textarea class="form-control" id="description" rows="2" maxlength="100" name="*{li}" placeholder="Description" required></textarea>
            <label class="form-label small" for="description">Description</label>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-4">
                <div class="form-floating">
                    <input type="text" class="form-control" name="*{firdstname}" id="work-by" placeholder="Enter Work by" required/>
                    <label class="form-label small" for="work-by">Work by</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating">
                    <input type="text" class="form-control" name="*{lastnafme}" id="assigned-to" placeholder=" Enter Work assigning person" required/>
                    <label class="form-label small" for="assigned-to">Assigned to</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating">
                    <input type="text" class="form-control" name="*{lasgtname}" id="contact" placeholder="Enter contact" required/>
                    <label class="form-label small" for="contact">Contact</label>
                </div>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-4">
                <div class="form-floating">
                    <input type="text" class="form-control" name="*{firdstnassme}" id="work-location" placeholder="Enter Work location" required/>
                    <label class="form-label small" for="work-location">Work Location</label>
                </div>
            </div>
           <div class="col-4">
                <div class="form-floating">
                    <input type="date" class="form-control" name="est-date" id="est-date" placeholder="Estimated Date of completion" required />
                    <label class="form-label small" for="est-date">Completion Date</label>
                </div>
           </div>
           <div class="col-4">
            <div class="form-floating">
                <input type="time" class="form-control" name="est-time" id="birthdaytime" placeholder="Estimated Time of completion" required />
                <label class="form-label small" for="est-time">Completion Time</label>
            </div>
       </div>
        </div>
        <h5 class="pb-2 border-bottom">Progress <button type="button" id="addRow" class="btn btn-secondary btn-sm"
            hx-get="fragments/component/progress-row" 
            hx-target="#last-row" 
            hx-swap="beforebegin"
            ><i class="fa-solid fa-plus"></i></button></h5>
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Progress</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Start</th>
                    <td>
                        <input type="text" name="firstName" required class="form-control">
                    </td>
                    <td>
                        <input type="text" name="lastName" required class="form-control">
                    </td>
                </tr>
                <tr id="last-row">
                    <th scope="row">End</th>
                    <td>
                        <input type="text" name="firstName" required class="form-control">
                    </td>
                    <td>
                        <input type="text" name="lastName" required class="form-control">
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
</div>