<footer class="container-fluid d-flex flex-wrap justify-content-between align-items-center border-top" th:fragment="footer">
    <div class="col-md-4 d-flex align-items-center">
     <a class="navbar navbar-brand" th:href="@{/}">Statuswave</a>
      <span class="mb-3 mb-md-0 text-body-primary small-text" style="font-size: 0.7rem;">&copy; 2024 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-primary" href="#"><i class="fa-brands fa-square-x-twitter"></i></a></li>
      <li class="ms-3"><a class="text-body-primary" href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
      <li class="ms-3"><a class="text-body-primary" href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
    </ul>
  </footer>
