<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" aria-label="Navbar Main">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}">moraceae</a>
          <div class="collapse navbar-collapse d-lg-flex justify-content-lg-evenly" id="navbarMain">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/}" th:classappend="${requestURI == '/' ? ' active text-decoration-underline text-secondary' : ''}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products}" th:classappend="${requestURI == '/products' ? ' active text-decoration-underline text-secondary' : ''}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/community}" th:classappend="${requestURI == '/community' ? ' active text-decoration-underline text-secondary' : ''}">Community</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/guides}">Guides</a></li>
                    <li><a class="dropdown-item" th:href="@{/blog}">Blog</a></li>
                    <li><a class="dropdown-item" th:href="@{/about}">About</a></li>
                </ul>
            </li>
            </ul>
            <div sec:authorize="isAuthenticated()">
              <a class="btn btn-outline-secondary btn-sm d-inline-flex align-items-center" th:href="@{/land}" role="button">
                Dashboard
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"/>
                </svg>
              </a>
            </div>
          </div>
         
          <div sec:authorize="isAnonymous()">
            <a class="btn btn-outline-secondary btn-sm d-inline-flex align-items-center" th:href="@{/login}" role="button">
              Login
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
              </svg>
            </a>
          </div>
          <div sec:authorize="isAuthenticated()">
            <div class="dropdown">
              <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <!-- Profile SVG Icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M13.468 12.37C12.758 11.226 11.462 10.5 8 10.5c-3.462 0-4.758.726-5.468 1.87A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 5.468-3.63zM8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1c-2.67 0-4.837.708-6 1.787A7 7 0 1 1 8 15a6.97 6.97 0 0 1-6-4.213C3.163 9.708 5.33 9 8 9z"/>
                  </svg>
                  <span sec:authentication="principal.nameWithInitial">Name</span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                  <li><a class="dropdown-item" href="#">View Profile</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                </li>
              </ul>
          </div>
          </div>
        </div>
      </nav>
</header>