<div class="container p-3 align-self-center bg-white rounded" th:fragment="register" id="register_div">
    <div>
        <!-- Default empty p tag -->
        <p th:unless="${registerError}">&nbsp;</p>
        <p class="text-danger" th:if="${registerError}" th:text="${registerError}"></p>
    </div>  
    <form th:object="${user}" hx-post="/register" hx-target="#register_div" hx-swap="outerHTML" >
        <div class="row mb-3 mt-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-sm" th:field="*{firstname}" id="firstname" placeholder="Your first name" required/>
                    <label class="form-label" for="firstname">First Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-sm" th:field="*{lastname}" id="lastname" placeholder="Your last name" required/>
                    <label class="form-label" for="lastname">Last Name</label>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control form-control-sm" th:field="*{companyName}" id="company" placeholder="Your organization name" required/>
            <label class="form-label" for="company">Organization</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control form-control-sm" th:field="*{profileName}" id="profileName" placeholder="Your profile URL" required/>
            <label class="form-label" for="profileName">Profile Name</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="email" class="form-control form-control-sm" th:field="*{email}" id="email" placeholder="Your email" required/>
            <label class="form-label" for="email">Email</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="password" class="form-control form-control-sm" th:field="*{password}" id="password" placeholder="Your password" required/>
            <label class="form-label" for="password">Password</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="password" class="form-control form-control-sm" th:field="*{confirmPassword}" id="confirm-password" placeholder="Confirm your password" required/>
            <label class="form-label" for="confirm-password">Confirm Password</label>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Register"/>
        </div>
    </form>
    <div class="text-center mt-3">
        <p>Already have an account? 
            <a href="" class="link-secondary" 
            hx-get="/fragments/auth/login" 
            hx-target="#register_div" 
            hx-swap="outerHTML "
            >
                Login</a>
        </p>
    </div>
</div>
