<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-spring5" lang="en">
  <head th:insert="~{fragments/head :: head}"></head>
<body>
    <header th:insert="~{fragments/header :: header}"></header>
    <!-- <main  class="m-5 p-5">
      <h5>Hello</h5>
    </main> -->
    <main>
      <div class="container-fluid min-vh-100 gradient-main">
        <div class="row">
          <div class="col-md-8 p-5">
            <h1 class="text-white display-1">Hello <span class="display-5">there!</span></h1>
            <h6>© 2024</h6>
          </div>
        </div>
      </div>
    </main>
</body>
</html>