<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/bootstrap.bundle.min.js" defer></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/custom.css}" rel="stylesheet" />
    <title>Login</title>
    <style>
        .gradient-div {
            background: rgb(17,45,78);
            background: linear-gradient(140deg, rgba(17,45,78,1) 0%, rgba(63,114,175,1) 35%, rgba(219,226,239,1) 100%);
            /* padding: 8rem; */
            /* min-height: 100vh;  Ensure gradient covers full height */
        }
       
    </style>
</head>
<body>
    <div class="container-fluid min-vh-100 gradient-div">
        <div class="row">
            <div class="col-md-8 p-5 text-secondary">
              <h1 class="text-white display-1">moraceae.</h1>
              <p class="h4" style="color: var(--tertiary-color);">Lorem ipsum odor amet, consectetuer adipiscing elit.<br> 
                Orci nullam cras lobortis ultrices ultricies et mattis eget.<br>
                Proin dictum sollicitudin montes ullamcorper elementum eleifend ornare.<br>
                Massa suscipit hendrerit dolor dictum magna fusce gravida risus orci.<br>Ac finibus blandit; eget urna leo cursus.</p>
              <p class="h5" style="color: var(--tertiary-color);">Lorem ipsum odor amet, consectetuer adipiscing elit. Gravida enim primis dictumst; luctus ullamcorper magnis.<br> 
                Risus diam penatibus conubia lacus fermentum aliquet. 
                Ante placerat mi tempor, fermentum scelerisque erat duis.</p>  
            </div>
        
            <!-- Right side (Jumbotron) -->
            <div class="d-flex col-md-4 p-5 min-vh-100">
                <div class="container-fluid p-3 mt-3 align-self-center bg-white rounded">
                    <div th:if="${param.error}">
                        <p class="text-danger" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
                    </div>
                    <div th:if="${param.logout}">
                        <p class="text-success">You have been logged out.</p>
                    </div>
                    <form th:action="@{/login}" method="post">
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" name="username" id="user" placeholder="Enter your username" required/>
                            <label class="form-label" for="user">Username</label>
                        </div>
                        <div class="form-floating mb-3 mt-3">
                            <input type="password" class="form-control" name="password" id="pass" placeholder="Enter your password" required/>
                            <label class="form-label" for="pass">Password</label>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-primary w-50" value="Sign In"/>
                        </div>
                    </form>
                </div>
            </div>
          </div>
      </div>
</body>
</html>