
$primary:       #112D4E;
$secondary:     #3F72AF;
$body-bg:       #EEEEEE;

@import '../../../../../node_modules/bootstrap/scss/bootstrap';

:root {
    --primary-color: #112D4E;
    --secondary-color: #3F72AF;
    --tertiary-color: #DBE2EF;
    --Quaternary-color: #F9F7F7;
  }