
$primary:       #112D4E;
$secondary:     #3F72AF;
$body-bg:       #EEEEEE;

@import '../../../../../node_modules/bootstrap/scss/bootstrap';

:root {
    --primary-color: #112D4E;
    --secondary-color: #3F72AF;
    --tertiary-color: #DBE2EF;
    --Quaternary-color: #F9F7F7;
  }

  .gradient-main {
    background: rgb(17,45,78);
    background: linear-gradient(140deg, rgba(17,45,78,1) 0%, rgba(63,114,175,1) 35%, rgba(219,226,239,1) 100%);
}